<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>新经资讯后台管理</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='admin/css/reset.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='admin/css/main.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='admin/css/jquery.pagination.css') }}">
	<script type="text/javascript" src="{{ url_for('static',filename='admin/js/jquery-1.12.4.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='admin/js/jquery.pagination.min.js') }}"></script>
</head>
<body>
	<div class="breadcrub">
			当前位置：新闻管理>新闻审核
			<form class="news_filter_form">
				<input type="text" placeholder="请输入关键字" class="input_txt" name="keywords">
				<input type="submit" value="搜 索" class="input_sub">
			</form>
		</div>
		<div class="pannel">
			<table class="common_table">
				<tr>
					<th width="3%">编号</th>
					<th width="70%">标题</th>
					<th width="15%">发布时间</th>
					<th width="5%">状态</th>
					<th width="8%">管理操作</th>
				</tr>
                {% for new in data.new_list %}
				<tr>
					<td>{{ new.id }}</td>
					<td class="tleft">{{ new.title }}</td>
					<td>{{ new.create_time }}</td>
                    {% if new.status==0 %}
                        <td>通过</td>
                    {% elif new.status==1 %}
                        <td>审核中</td>
                    {% elif new.status==-1 %}
                        <td>未通过</td>
                    {% endif %}
					<td>
						<a href="/admin/news_review_detail?new_id={{ new.id }}" class="review">审核</a>
					</td>
				</tr>
		        {% endfor %}
			</table>
		</div>

		<div class="box">
			<div id="pagination" class="page"></div>
		</div>

        <script>
			$(function() {
				$("#pagination").pagination({
					currentPage: {{ data.current_page }},
					totalPage: {{ data.total_page }},
					callback: function(current) {
					    window.location.href='/admin/news_review?page='+current

					}
				});
			});
		</script>

	
</body>
</html>