<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新经资讯后台管理</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='admin/css/reset.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='admin/css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='admin/css/jquery.pagination.css') }}">
    <script type="text/javascript" src="{{ url_for('static',filename='admin/js/jquery-1.12.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='admin/js/jquery.pagination.min.js') }}"></script>
</head>
<body>
    <div class="breadcrub">
            当前位置：用户管理>用户列表
        </div>
        <div class="pannel">
            <table class="common_table">
                {% for user in data.user_list %}
                <tr>
                    <th>{{ user.nick_name }}</th>
                    <th>{{ user.mobile }}</th>
                    <th>{{ user.register }}</th>
                    <th>{{ user.last_login }}</th>
                </tr>
                {% endfor %}


            </table>
        </div>

        <div class="box">
            <div id="pagination" class="page"></div>
        </div>

        <script>
            $(function() {
                $("#pagination").pagination({
                    currentPage: {{ data.current_page }},
                    totalPage: {{ data.total_page }},
                    callback: function(current) {
                        window.location.href = '/admin/user_list?page=' + current
                    }
                });
            });
        </script>
</body>
</html>